.main-wrapper.footer {
    height: $footer-height;
    background-image: url(../assets/img/footer-bg.jpg);
    overflow-y: hidden;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .left {
            display: flex;
            width: 50%;
            padding-top: 40px;

            .col {
                width: 25%;

                ul {
                    list-style: none;

                    h4 {
                        color: white;
                        margin-bottom: 20px;
                    }

                    li {
                        margin: 5px 0;

                        &:hover a {
                            color: white;
                        }

                        a {
                            color: $main-light-grey;
                            text-decoration: none;
                            text-transform: capitalize;
                        }
                    }
                }
            }

            .col:first-child {
                ul:first-child {
                    margin-bottom: 30px;
                }
            }
        }

        .right {
            width: 50%;
            position: relative;

            img {
                position: absolute;
                right: 0;
                transform: scale(1.5);
            }
        }
    }
}
