.main-wrapper.jumbotron{
    height: $jumbotron-height;
    position: relative;
    background-image: url(../assets/img/jumbotron.jpg);
    .current-series{
        position: absolute;
        background-color: $main-blue;
        padding: 10px;
        bottom: -25px;

        span{
            color: white;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
